.carousel-caption {
    right: 0;
    top:50%;
    left:50%;
    padding-top:0;
    padding-bottom: 0;
    transform: translate(-50%, -50%);
}


.main-txt {
    text-align: center;
    font-family: 'Lora', serif;

}
.main-txt h1 {
    font-size: 5em;

}



.przycisk {
    text-decoration: none;
    border-radius: 20px;
    height: 4em;

}


@media(max-width: 1500px) {
    .main-txt h1 {
        font-size: 5em;
    }
}
@media(max-width: 1220px){
    .main-txt h1 {
        font-size: 4em;
    }
}
@media(max-width: 1033px){
    .main-txt h1 {
        font-size: 3em;
    }
}

@media(max-width: 900px){
    .main-txt h1 {
        font-size: 2.5em;

    }
}
@media(max-width: 779px) {
    .main-txt h1 {
        font-size: 2.5em ;
    }

}

@media(max-width: 664px) {

    .main-txt h1 {
        font-size: 2em;


    }

    /*.carousel{*/
        /*top: 5.6em;*/
    /*}*/
    nav {
        background: rgba(0, 0, 0, 1)
    }

}
@media(max-width: 400px){
    /*.carousel-caption{*/
        /*top: 30vw;*/
    /*}*/
    .main-txt h1 {
        font-size: 0.5em;


    }
    nav {
        background: rgba(0, 0, 0, 1)
    }
    main{
        padding-top: 5em;
    }


}



.team-section1 img {
    height: 230px;
    width: auto;
    border-radius: 200px;
}


.team-section1 {
    background-color: #ECF3F5;

}

.team-section1 a {
    text-decoration: none;
    color: black;

}

.icon-user {
    color: #6BD83A;
}

.about_us {
    text-align: center;
}

.glyphicon-thumbs-up {
    color: green;
    font-size: 60px;
    text-align: center;
}

.middle-side
{
    text-align: center;
}
.txt-height{
    min-height: 3em;
    max-height: 3em;
}
.team-icon{
    color:green;
    font-size: 40px;
}