.main-txt {
    text-align: center;
    font-family: 'Lora', serif;

}
.main-txt h1 {
    font-size: 5em;
    margin-top: 1em;
}

.btn-default {
    text-decoration: none;
    padding: 20px;
    border-radius: 20px;
    background: #64B435;
    margin-bottom: 3em;
}

.team-section1 img {
    height: 230px;
    width: auto;
    border-radius: 200px;
}


.team-section1 {
    background-color: #ECF3F5;

}

.team-section1 a {
    text-decoration: none;
    color: black;

}

.icon-user {
    color: #6BD83A;
}

.about_us {
    text-align: center;
}

.glyphicon-thumbs-up {
    color: green;
    font-size: 60px;
    text-align: center;
}

.middle-side
{
    text-align: center;
}
.txt-height{
    min-height: 3em;
    max-height: 3em;
}
.team-icon{
    color:green;
    font-size: 40px;
}