.foot-footer {
    text-align: center;
    display: flex;
    justify-content: center;
}

.foot-footer p {
    font-weight: 700;
    text-align: center;
    width: 100%;
    background: #faff62;
    display: none;
}
.foot-footer a {
    text-decoration: none;
}

.space {
    height:500px;
}

.foot-links {
    height: 40px;
}

.foot-links img {
    height: 35px;
    margin-top: 3px;
}